*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body-1{
    background-color: rgb(73, 45, 45);
}
.card-body h1{
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 31%;
    margin-right: 31%;
    height: 50px;
    margin-top: 8%;
}
.card-body h2{
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 44%;
    margin-right: 31%;
    height: 36px;
    width: 153px;
    margin-top: 26px;
}
.card-body h3{
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 30%;
    margin-right: 30%;
    height: 250px;
}
.text-center{
    margin: 6%;
}