*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body-1{
    background-color: rgb(73, 45, 45);
}
.card-body h1{
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 31%;
    margin-right: 31%;
    height: 80px;
    margin-top: 6%;
}
.card-title h1{
    margin-bottom: -7.25rem;
}
.card-body h3{
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 30%;
    margin-right: 30%;
    height: 140px;
}
.text-center{
    margin: 6%;
}