*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.body-1{
    background-color: rgb(73, 45, 45);
}
.card-img-overlay{
    margin-top: 10%;
    margin-top: 1%;
}
.card-body{
    margin-top: 13%;
}
.card-body h1{
    margin-bottom: -19%;
    color: white;
    background-color: rgb(24, 21, 125);
    margin-left: 20%;
    margin-right: 20%;
    height: 315px;
}
h3.card-title{
    margin-left: 21%;
    margin-right: 21%;
    color: white;
}
.btn {
    margin-left:4%;
    margin-right: 4%;
    margin-top: 3%;
}
.text-center{
    margin: 3%;
}
ul li{
    color: white;
    list-style: none;
    margin-left: 23%;
    margin-right: 23%;
}

